<div class="container">

  <div class="row" style="padding-top: 2%" >
      <div class="col-sm-12" >


        <div class="alert alert-info alert-dismissable col-sm-12">
           <h4 style="text-align: center">  This module development is in progress. Please visit after some time.
             Thank you for your patience!</h4>
        </div>


      </div>
  </div>
  <div class="row">

    <div class="col-sm-12" align="middle">
      <button class="btn-primary" (click)="OnClick()"> <span class="glyphicon glyphicon-circle-arrow-left"> </span>&nbsp; Go Back to Home Screen </button>
    </div>

  </div>
</div>
