h1
{
  vertical-align: middle;
  text-align: center;
  font-size: 3vmin;

}

h3
{
  vertical-align: middle;
  text-align: center;
  font-size: 2vmin;

}
.my-pointer{
  cursor: pointer;
  vertical-align: middle;
}
