#navigation-top{
  border-bottom: solid 1px whitesmoke;
}
*
{
  box-sizing: border-box;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

.nav-link{
  color: black;
}
/*.nav-item{*/
  /*margin: 0 5px;*/
/*}*/
a.nav-link:hover {
  color: #005E63 !important;
}
.navbar{
  height: 69px;
  padding-left: 0;
  margin-bottom: 0;
}
.navbar .navbar-toggler .navbar-toggler-icon {

}

.navbar-brand{
//background-color: white!important;
  padding: 9px 35px;
  left:0 !important;
//border: solid 1px #005E63;
}
.navbar-collapse {
  background: #f6f6f6;
  z-index: 1;
}

.logout-button {
  float: right!important;
  position: absolute;
  right: 150px;
  top: 15px;
}
#navbarNav {
  position: relative;
}
.dropdown-menu{
  max-width:120px;
}
.dropdown-menu>.dropdown-custom-item{
  padding: 3px 5px 3px 0;
  margin-left: 15px;
}
