<app-medication-sub-header style="padding-bottom: 1%"></app-medication-sub-header>
<div class="container-fluid"  style="background-color: #F6F6F6">
    <div class="row"  *ngIf="activeScreen == 'MedicationList' || activeScreen == 'MedicationReconciliation' || activeScreen == 'MedicationHistory' || activeScreen == 'MedicationHome'">
        <div class="col-sm-4" align="center" style="border: 0.5px solid;cursor: pointer" [ngClass]="{'custom-bg':activeScreen == 'MedicationList'}"
             (click)="OnListClick()" [routerLink]="['/Medications/List']">
          <h4
             title="This section will list all your medicines, both prescribed and over the counter medicines. You can view details of any medicine- refill status, frequency, dosage, start & stop date and many relevent information.
         You can also view information, precautions and contraindications associated with any medicine. Also you can request for refill of any medicine."
            >
              <span class="glyphicon glyphicon-ok-circle" style="color:#656515" ></span>
              &nbsp;Medication List
              <!--<span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationList'"></span>-->
          </h4>

        </div>
        <div class="col-sm-4" align="center" style="border: 0.5px solid;cursor: pointer" [ngClass]="{'custom-bg':activeScreen == 'MedicationHistory'}"
             (click)="OnHistoryClick()" [routerLink]="['/Medications/History']">
          <h4
             title="This section will help you viewing your medication history. You can view your last one month, six month or 12 months medication. You can also check for your medication list in any selected time period."
             >
               <span class="glyphicon glyphicon-ban-circle" style="color: #AD122A" ></span>
            &nbsp;Medication History
              <!--<span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationHistory'"></span>-->
          </h4>

      </div>
        <div class="col-sm-4" align="center" style="border: 0.5px solid;cursor: pointer" [ngClass]="{'custom-bg':activeScreen == 'MedicationReconciliation'}"
             (click)="OnReconciliationClick()" [routerLink]="['/Medications/Reconcillation']">
          <h4
             title=" This section is basically single view of all your medicines. You can view all your medicines on one page."
          >
            <span class="glyphicon glyphicon-refresh" style="color: #AD122A" ></span>&nbsp;Medication Reconciliation
            <!--<span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationReconciliation'"></span>-->
          </h4>

      </div>
    </div>
    <div class="row">
        <div class="container-fluid" *ngIf="activeScreen == 'MedicationHome'" >
          <br>
          <br>
          <p>
           This module has three sub-modules.
          </p>
          <br>
         <ul>
           <li>
             <strong>Medication List: </strong>This section will list all your medicines, both prescribed and over the counter medicines. You can view details of any medicine- refill status, frequency, dosage, start & stop date and many relevent information.
             You can also view information, precautions and contraindications associated with any medicine. Also you can request for refill of any medicine.
           </li><br>
           <li>
             <strong>Medication History: </strong> This section will help you viewing your medication history. You can view your last one month, six month or 12 months medication. You can also check for your medication list in any selected time period.
           </li><br>
           <li>
             <strong>Medication Reconcillation: </strong> This section is basically single view of all your medicines. You can view all your medicines on one page.
           </li>
         </ul>
          <br>
        </div>
        <router-outlet *ngIf="activeScreen != 'MedicationHome'">
        </router-outlet>
  </div>
</div>
