<app-medication-sub-header></app-medication-sub-header>
<div class="container-fluid">
    <div class="row">
          <div class="col-sm-2 " style="padding-bottom: 2%;padding-top: 1%; " >
                <div class="list-group">
                      <a [routerLink]="['/Medications/List']"
                         class="list-group-item"
                         [ngClass]="{'activeTab':activeScreen == 'MedicationList'}"
                         (click)="OnListClick()"
                        >
                          Medication List
                          <span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationList'"></span>
                      </a>
                      <a [routerLink]="['/Medications/Refill']"
                         class="list-group-item "
                         [ngClass]="{'activeTab':activeScreen == 'MedicationRefill'}"
                         (click)="OnRefillClick()"
                       >
                          Medication Refill
                          <span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationRefill'"></span>
                      </a>
                      <a [routerLink]="['/Medications/History']"
                         class="list-group-item"
                         [ngClass]="{'activeTab':activeScreen == 'MedicationHistory'}"
                         (click)="OnHistoryClick()"
                         >
                          Medication History
                          <span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'MedicationHistory'"></span>
                      </a>
                </div>
          </div>

          <div class="col-sm-10">

                <div class="container-fluid" *ngIf="activeScreen == 'MedicationHome'" >
                  <br>
                  <br>
                  <p>
                   This module has three sub-modules.
                  </p>
                  <br>
                 <ul>
                   <li>
                     <strong>Medication List: </strong>This section will list all your medicines, both prescribed and over the counter medicines. You can view details of any medicine- refill status, frequency, dosage, start & stop date and many relevent information.
                     You can also view information, precautions and contraindications associated with any medicine.
                   </li><br>
                   <li>
                     <strong>Medication Refill: </strong> This section will help you with request for refill for any medication. Also one can view refill status of any request made.
                   </li><br>
                   <li>
                     <strong>Medication History: </strong> This section will help you viewing your medication history. You can view your last one month, six month or 12 months medication. You can also check for your medication list in any selected time period.
                   </li>
                 </ul>

                </div>
                <router-outlet>
                </router-outlet>
          </div>
    </div>
</div>
