.table-bordered
{
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-right: none;
}

.activeTab
{
  padding-left: 8px;
  color: White;
  font-weight: bold;
  border-left: 3px solid #AD122A;
  background-color: #AD122A;
  font-size: large;
  cursor: pointer;
}

a:hover
{
  background-color: lightgrey;

}

ul,label,a,p
{
  font-size: 1.5vmin;
}

h3
{
  color: darkred;
  font-size: 2vmin;
  vertical-align: middle;
}

button{
  font-size: 1.5vmin;
  margin: 5px 5px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  vertical-align: middle;
}

.btn-success {
  background-color: #656515;
}
