<div class="container-fluid">
      <div>

        <br>
        <!--Personal Details-->
        <div class="row table-bordered">

              <div class="row table">
                      <div class="col-sm-3">
                        <h3>Caregiver {{ SelectedCaregiver.Name }}: Personal Details</h3>
                      </div>
                      <div class="col-sm-6">
                      </div>
                      <div class="col-sm-3" style="text-align: right">
                        <button type="button" *ngIf="!IsPersonalDetailsEditable" class="btn-primary my-pointer" align="middle" (click)="OnPersonalEditClick()"> Request for Edit&nbsp; <span class="glyphicon glyphicon-edit"></span> </button>
                        <button type="button" *ngIf="IsPersonalDetailsEditable" class="btn-primary my-pointer" align="middle"  (click)="OnPersonalSaveClick()"> Request for Save&nbsp; <span class="glyphicon glyphicon-floppy-save"></span></button>
                      </div>
              </div>

              <div class="row table">
                       <div class="col-sm-3">
                         <label style="font-size: large"> Name: </label>
                         <input type="text" class="form-inline" [value]="SelectedCaregiver.Name" [readonly]="IsPersonalDetailsEditable == false" [ngClass]="{'input-Editable':IsPersonalDetailsEditable == true}">
                       </div>

                      <div class="col-sm-3">
                        <label style="font-size: large"> Relationship: </label>
                        <input type="text" class="form-inline" [value]="SelectedCaregiver.Relationship" [readonly]="IsPersonalDetailsEditable == false" [ngClass]="{'input-Editable':IsPersonalDetailsEditable == true}">
                      </div>

                      <div class="col-sm-3">
                        <label style="font-size: large"> Email Id: </label>
                        <input type="email" class="form-inline" [value]="SelectedCaregiver.EmailId"  [readonly]="IsPersonalDetailsEditable == false" [ngClass]="{'input-Editable':IsPersonalDetailsEditable == true}">

                      </div>

                      <div class="col-sm-3">
                        <label style="font-size: large"> Contact Details: </label>
                        <input type="text" class="form-inline" [value]="SelectedCaregiver.PhoneNumber"  [readonly]="IsPersonalDetailsEditable == false" [ngClass]="{'input-Editable':IsPersonalDetailsEditable == true}">
                      </div>
              </div>

              <!--Dialog Box-->
              <div class="row table" *ngIf="IsPersonalSaveDialog">
                    <div class="alert alert-success alert-dismissable col-sm-12">
                          <a class="close" (click)="OnPersonalAlertClose()" data-dismiss="alert" aria-label="close">&times;</a>
                          <h4> <strong>Success! </strong>Request for made changes has been accepted and changes would reflect after getting approved.</h4>
                    </div>
              </div>

        </div>

        <br>
        <br>

        <!--Privelages-->
        <div class="row table-bordered">
          <div class="row table">
              <div class="col-sm-3">
                  <h3>Caregiver {{ SelectedCaregiver.Name }}:  Privelages</h3>
                <br>
              </div>
              <div class="col-sm-6">
              </div>

              <div class="col-sm-3" style="text-align: right">
                <button *ngIf="!IsPrivelagesEditable" class="btn-primary my-pointer" align="middle" (click)="OnPrivelagesEditClick()">  Request for Edit&nbsp; <span class="glyphicon glyphicon-edit"></span> </button>
                <button *ngIf="IsPrivelagesEditable" class="btn-primary my-pointer" align="middle" (click)="OnPrivelagesSaveClick()"> Request for Save &nbsp; <span class="glyphicon glyphicon-floppy-save"></span></button>
              </div>

          </div>

          <!--Dialog Box-->
          <div class="row table" *ngIf="IsPrivelagesSaveDialog">
            <div class="alert alert-success alert-dismissable col-sm-12">
              <a (click)="OnPrivelagesAlertClose()" class="close" data-dismiss="alert" aria-label="close">&times;</a>
              <h4> <strong>Success! </strong>Request for made changes has been accepted and changes would reflect after getting approved.</h4>
            </div>
          </div>

          <!--Privelages First Row-->
          <div class="row table">

                <div class="col-sm-4">
                  <label style="font-size: large"> Power of Attorney: </label>&nbsp;
                  <label class="form-inline" style="font-size: large" *ngIf="!IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == true">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="form-inline" style="font-size: large" *ngIf="!IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == false">
                    <span class="glyphicon glyphicon-remove"></span>
                  </label>

                  <!--<input type="checkbox" class="checkbox" *ngIf="IsPrivelagesEditable" size="large" [checked]="SelectedCaregiver.IsPowerofAttorney==true" style="zoom:1.5">-->

                  <!--<label class="form-inline" style="font-size: large" *ngIf="IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == true" style="zoom:1.5">-->
                    <!--<span class="glyphicon glyphicon-ok"></span> Yes-->
                  <!--</label>-->

                  <!--<ui-switch *ngIf="IsPrivelagesEditable" [checked]="SelectedCaregiver.IsPowerofAttorney==true" style="zoom:1.5" ></ui-switch>-->


                  <input type="checkbox" class="badgebox no-see" *ngIf="IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == true" style="zoom:1.5" value="Yes">
                  <span class="glyphicon glyphicon-ok" *ngIf="IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == true" style="zoom:1.5"></span>

                  <input type="checkbox" class="badgebox no-see" *ngIf="IsPrivelagesEditable && SelectedCaregiver.IsPowerofAttorney == false" style="zoom:1.5" value="No" #checkBox>
                  <!--<span class="glyphicon glyphicon-unchecked" *ngIf="checkBox.checked" style="zoom:1.5"></span>-->

                </div>

                <div class="col-sm-4">
                  <label style="font-size: large"> View Reports: </label>&nbsp;
                  <label *ngIf="!IsPrivelagesEditable && SelectedCaregiver.ViewReports == true" class="form-inline" style="font-size: large">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label *ngIf="!IsPrivelagesEditable && SelectedCaregiver.ViewReports == false" class="form-inline" style="font-size: large">
                    <span class="glyphicon glyphicon-remove"></span>
                  </label>
                  <!--<ui-switch size="large" *ngIf="IsPrivelagesEditable"></ui-switch>-->
                  <!--&nbsp; &nbsp;-->
                  <!--<input type="checkbox" *ngIf="IsPrivelagesEditable" size="large" [checked]="SelectedCaregiver.ViewReports==true"  style="zoom:1.5" >-->

                  <input type="checkbox" class="badgebox no-see" *ngIf="IsPrivelagesEditable && SelectedCaregiver.ViewReports == true" style="zoom:1.5">
                  <span class="glyphicon glyphicon-ok" *ngIf="IsPrivelagesEditable && SelectedCaregiver.ViewReports == true" style="zoom:1.5"></span>

                  <input type="checkbox" class="badgebox no-see" *ngIf="IsPrivelagesEditable && SelectedCaregiver.ViewReports == false" style="zoom:1.5">
                  <span class="glyphicon glyphicon-unchecked" *ngIf="IsPrivelagesEditable && SelectedCaregiver.ViewReports == false" style="zoom:1.5"></span>

                </div>

                <div class="col-sm-4">
                  <label style="font-size: large"> View AVS: </label>&nbsp;
                  <label class="form-inline" style="font-size: large"  *ngIf="!IsPrivelagesEditable && SelectedCaregiver.ViewAVS == true">
                    <span class="glyphicon glyphicon-ok"></span>
                  </label>
                  <label class="form-inline" style="font-size: large"  *ngIf="!IsPrivelagesEditable && SelectedCaregiver.ViewAVS == false">
                    <span class="glyphicon glyphicon-remove"></span>
                  </label>
                  <!--<ui-switch size="large" *ngIf="IsPrivelagesEditable"></ui-switch>-->
                  &nbsp; &nbsp;
                  <input type="checkbox" *ngIf="IsPrivelagesEditable" class="toggle-off" size="large" [checked]="SelectedCaregiver.ViewAVS==true"  style="zoom:1.5">
                </div>

          </div>

          <br>

          <!--Privelages Second Row-->
          <div class="row table">

            <div class="col-sm-3">
                <div class="form-group" style="font-size: large">
                <label> Providers: </label>
                    <ul class="list-group" style="font-size: large">
                      <li class="list-group-item">
                        <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewProviders == true "></span>
                        <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewProviders == false "></span> &nbsp;View Providers
                      </li>
                      <li class="list-group-item">
                      <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ManageProviders == true "></span>
                      <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ManageProviders == false "></span> &nbsp;Manage Providers
                      </li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label> Messages: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewMessages == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewMessages == false "></span> &nbsp;Read Messages
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.SendMessages == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.SendMessages == false "></span>  &nbsp;Send/ Reply Messages
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label> Health at a Glance: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewHealthGlance == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.EditHealthGlance == false "></span> &nbsp;View Health at a Glance
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewHealthGlance == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.EditHealthGlance == false "></span>  &nbsp;Edit View Health at a Glance
                  </li>
                </ul>
              </div>
            </div>

          </div>

          <br>

          <!--Privelages Third Row-->
          <div class="row table">

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Payments: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewBills == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewBills == false "></span> &nbsp;View Bills
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.PayBills == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.PayBills == false "></span> &nbsp;Pay Bills
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Medications: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewMedications == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewMedications == false "></span> &nbsp;View Medication
                  </li>
                  <li class="list-group-item">
                   <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.RefillMedication == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.RefillMedication == false "></span> &nbsp;Request for refill
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Patient Plan: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewPatientPlan == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewPatientPlan == false "></span> &nbsp;View Patient Plan
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.EditPatientPlan == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.EditPatientPlan == false "></span> &nbsp;Patient Plan
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <br>

          <!--Privelages Fourth Row-->
          <div class="row table">

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Appointments: </label>
                <ul class="list-group">
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ViewAppointments == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ViewAppointments == false "></span> &nbsp;View Appointments
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.ScheduleAppointments == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.ScheduleAppointments == false "></span> &nbsp;Schedule Appointments
                  </li>
                  <li class="list-group-item">
                    <span class="glyphicon glyphicon-ok" *ngIf="SelectedCaregiver.FillQuestionnaire == true "></span>
                    <span class="glyphicon glyphicon-remove" *ngIf="SelectedCaregiver.FillQuestionnaire == false "></span> &nbsp;Fill Questionnaire
                  </li>
                </ul>
              </div>
            </div>

          </div>


        </div>

      </div>
</div>
