button{
  font-size: large;
  padding-left: 2%;
  padding-right: 2%;
  margin: 20px;
}

input{
  /*margin: 15px 25px;*/
  /*width: 200px;*/
  /*display: block;*/
  border: none;
  padding-top: 1%;
  border-bottom: solid 1px #1abc9c;
  -webkit-transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96%, #1abc9c 4%);
  background-position: -200px 0;
  background-size: 200px 100%;
  background-repeat: no-repeat;
  font-size: large;
}

.input-Editable
{
   background: #dddddd;
   color: #0e6252;
}

.table-bordered
{
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border: none;
}

.table
{
  padding-left: 1.5%;
  padding-right: 1.5%;
}

h3
{
  font-size: x-large;
  color: darkred;
  vertical-align: middle;
}

input:focus, input:valid {
  box-shadow: none;
  outline: none;
  background-position: 0 0;
}

.my-pointer{
  cursor: pointer;
  vertical-align: middle;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%
}

.btn-success {
  background-color: #656515;
}
