.button{
  font-size: large;
  padding-left: 2%;
  padding-right: 2%;

}

.input
{
  border-right: none;
  border-left: none;
  border-top: none;
  padding-left: 3%;

}

.input-Editable
{
  /*border-bottom: solid;*/
  border-bottom-color: #761c19;
  background: #dddddd;
}

.table-bordered
{
  padding-left: 1.5%;
  padding-right: 1.5%;
}

.h3
{
  font-size: x-large;
  color: #337ab7;
}
