   <!--&lt;!&ndash;Search &ndash;&gt;-->
    <!--<div class="row">-->
          <!--<div class="col-sm-3 col-xs-3 col-sm-push-9" align="center">-->
                <!--<input type="text" placeholder="Search" class="input-lg ">-->

                <!--<button type="button" class="btn btn-primary ">-->
                <!--<span class="glyphicon glyphicon-search" style="zoom: 100%"></span>-->
                <!--</button>-->
          <!--</div>-->
    <!--</div>-->
<div class="container-fluid">
     <div class="panel-group">

          <!--Modules Row 1-->
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Communications</h4>
                </div>
                <div class="panel-body">
                    <div *ngFor="let module of modulesRow1" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                          <img
                          [src]="module.IconUrl"
                          [alt]="module.ModuleName"
                          class="img-responsive list-group-item"
                          >
                          <p> {{module.ModuleName}} </p>
                        </a>
                    </div>
                </div>
          </div>

             <!--Modules Row 2-->
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Medications and Tests</h4>
                </div>
            <div class="panel-body">
                <div *ngFor="let module of modulesRow2" class="col-sm-3 col-xs-3" align="center">
                     <a routerLink="/{{module.ModuleName}}">
                      <img
                      [src]="module.IconUrl"
                      alt="{{ module.ModuleName }}"
                      class="img-responsive list-group-item"
                      >
                      <p> {{ module.ModuleName }}</p>
                    </a>
                </div>
            </div>
          </div>

          <!--Modules Row 3-->
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Health at a Glance</h4>
                </div>
            <div class="panel-body">
                  <div *ngFor="let module of modulesRow3" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                        <img
                        [src]="module.IconUrl"
                        alt="{{ module.ModuleName }}"
                        class="img-responsive list-group-item"
                        >
                        <p> {{ module.ModuleName }}</p>
                        </a>
                  </div>
                  <div class="col-sm-3 col-xs-3" align="center">
                    <a href='https://skyv04.github.io/EHR_RP/previsit_questionnaire'>
                      <img
                        [src]="'https://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/128/Tests-icon.png'"
                        alt="Patient Health Questionaire"
                        class="img-responsive list-group-item"
                      >
                      <p>Patient Health Questionaire</p>
                    </a>
                  </div>
                  <div class="col-sm-3 col-xs-3" align="center">
                    <a routerLink="/After Visit Summary">
                      <img
                        [src]="'https://icons.iconarchive.com/icons/umut-pulat/tulliana-2/128/korganizer-icon.png'"
                        alt="After Visit Summary"
                        class="img-responsive list-group-item"
                      >
                      <p>After Visit Summary</p>
                    </a>
                  </div>

            </div>
          </div>

          <!--Modules Row 4-->
          <div class="panel panel-default">
                <div class="panel-heading">
                  <h4>Care Team</h4>
                </div>
                <div class="panel-body">
                <div *ngFor="let module of modulesRow4" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                        <img
                        [src]="module.IconUrl"
                        alt="{{ module.ModuleName }}"
                        class="img-responsive list-group-item"
                        >
                        <p> {{ module.ModuleName }}</p>
                        </a>
                  </div>
            </div>
          </div>
    </div>
</div>
