.container-fluid
{
  margin-top: 0.1%;
}
p
{
  vertical-align: middle;
  text-align: center;
  /*font-size: 1.5vmin;*/
}

.list-group-item
{
  border: none;
}

/*img {*/
  /*width: 15px;*/
  /*height: 15px;*/
/*}*/
