<div class="container-fluid">
     <div class="panel-group">

          <!--Modules Row 1-->
          <div class="panel panel-default">
                <div class="panel-heading" >
                  <h4 class="heading">Communications</h4>
                </div>
                <div class="panel-body">
                    <div *ngFor="let module of modulesRow1" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                          <img
                          [src]="module.IconUrl"
                          [alt]="module.ModuleName"
                          class="img-responsive list-group-item"
                          >
                          <h4> {{module.ModuleName}} </h4>
                        </a>
                    </div>
                </div>
          </div>

             <!--Modules Row 2-->
          <div class="panel panel-default">
                <div class="panel-heading" >
                  <h4 class="heading">Medications and Tests</h4>
                </div>
                <div class="panel-body">
                    <div *ngFor="let module of modulesRow2;let i = index" class="col-sm-3 col-xs-3" align="center">
                         <a routerLink="/{{module.ModuleName}}">
                          <img
                          [src]="module.IconUrl"
                          alt="{{ module.ModuleName }}"
                          class="img-responsive list-group-item"
                          (click)="OnRow2_MenuClick(i)"
                          >
                          <h4> {{ module.ModuleName }}</h4>
                        </a>
                    </div>
                </div>
          </div>

          <!--Modules Row 3-->
          <div class="panel panel-default">
                <div class="panel-heading" >
                  <h4 class="heading">Health at a Glance</h4>
                </div>
                <div class="panel-body">
                  <div *ngFor="let module of modulesRow3; let i = index" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                        <img
                        [src]="module.IconUrl"
                        alt="{{ module.ModuleName }}"
                        class="img-responsive list-group-item"
                        >
                        <h4> {{ module.ModuleName }}</h4>
                        </a>
                  </div>
                  <div class="col-sm-3 col-xs-3" align="center">
                    <a href='https://skyv04.github.io/EHR_RP/previsit_questionnaire'>
                      <img
                        [src]="'https://icons.iconarchive.com/icons/custom-icon-design/flatastic-9/128/Tests-icon.png'"
                        alt="Patient Health Questionaire"
                        class="img-responsive list-group-item"
                      >
                      <h4>Patient Health Questionaire</h4>
                    </a>
                  </div>
                  <div class="col-sm-3 col-xs-3" align="center">
                    <a routerLink="/After Visit Summary">
                      <img
                        [src]="'http://icons.iconarchive.com/icons/saki/nuoveXT-2/128/Actions-document-find-icon.png'"
                        alt="After Visit Summary"
                        class="img-responsive list-group-item"
                      >
                      <h4>After Visit Summary</h4>
                    </a>
                  </div>

            </div>
          </div>

          <!--Modules Row 4-->
          <div class="panel panel-default">
                <div class="panel-heading" >
                  <h4 class="heading">Care Team</h4>
                </div>
                <div class="panel-body">
                <div *ngFor="let module of modulesRow4; let i = index" class="col-sm-3 col-xs-3" align="center">
                        <a routerLink="/{{module.ModuleName}}">
                        <img
                        [src]="module.IconUrl"
                        alt="{{ module.ModuleName }}"
                        class="img-responsive list-group-item"
                        (click)="OnRow4_MenuClick(i)"
                        >
                        <h4> {{ module.ModuleName }}</h4>
                        </a>
                  </div>
            </div>
          </div>
    </div>
</div>

<!--<iframe src="https://skyv04.github.io/EHR_RP/previsit_questionnaire"-->
        <!--frameborder="0" allowfullscreen style="display: none !important;"></iframe>-->
