.container-fluid
{
  margin-top: 0.1%;
}
p
{
  vertical-align: middle;
  text-align: center;
}

.list-group-item
{
  border: none;
}

.panel-heading
{
  height: 30px;
  vertical-align: middle;
  margin: 0;
}
.heading
{
  text-align: left;
  color: darkred;
  padding-top: 0;
  margin: 0;
}
