<app-sub-header></app-sub-header>

<div class="container-fluid">
      <div class="row">
              <div class="col-sm-2" style="padding-bottom: 2%;padding-top: 1%; " >
                        <h3>Below are your caregivers- </h3>
                        <br>
                        <div class="list-group">
                              <div class="row list-group-item" *ngFor="let caregiver of caregiversList;let i=index">
                                    <div class="col-sm-6">
                                        <a  [routerLink]="['/Caregivers',caregiver.Id]"
                                            (click)="OnDetailsClick()"
                                            style="color: darkred">
                                            {{caregiver.Name}}
                                        </a>
                                    </div>
                                    <div class="col-sm-6" align="right">
                                          <a type="button"
                                             class="my-pointer"
                                             style="font-size: 1.2vmin"
                                             [routerLink]="['/Caregivers',caregiver.Id]"
                                             [queryParams]="{Edit:true}"
                                             (click)="OnEditClick()">
                                            <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                                          </a>&nbsp;
                                          <a type="button"
                                             class="my-pointer"
                                             [routerLink]="['/Caregivers',caregiver.Id]"
                                             [queryParams]="{Delete:true}"
                                             (click)="OnDeleteClick()"
                                             style="font-size: 1.2vmin">
                                            <span class="glyphicon glyphicon-trash"></span> Delete
                                          </a>
                                    </div>
                              </div>

                              <div class="row">
                                        <a routerLink="/Caregivers/new"
                                           (click)="OnNewClick()"
                                           class="list-group-item"
                                           [ngClass]="{'activeTab':activeScreen == 'CaregiverNew'}"
                                            >
                                           <span class="	glyphicon glyphicon-plus-sign"></span>
                                           <u> Add new Caregiver</u>
                                          <span class="glyphicon glyphicon-play" style="float: right" *ngIf="activeScreen == 'CaregiverNew'"></span>
                                        </a>
                                </div>
                        </div>
              </div>

              <div class="col-sm-10">
                      <div class="container-fluid" *ngIf="activeScreen == 'CaregiverHome'">
                            <div class="row" style="padding-left: 2%">
                                    <br>
                                    <br>
                                    <p>
                                      Caregivers are the individuals which help patients with the basic life functions, manage medical care, help people  maintain health and remain in their home or community.
                                    </p>
                                    <p>
                                      Caregivers help navigate health care system, facilitate communication with health care providers, help with complex decision-making.
                                    </p>
                                    <p>
                                      92-99% of caretakers are family members.
                                    </p>
                                    <br>

                                    <p style="font-weight: bold">
                                      Potential Benefits of Information Sharing-
                                    </p>    <br>
                                    <ul>
                                          <li>
                                            Enhance communication between caregiver and care provider.
                                          </li>    <br>
                                          <li>
                                            Enhance patient engagement.
                                          </li>    <br>
                                          <li>
                                            Improve health outcomes.
                                          </li>    <br>
                                          <li>
                                            Decrease health care costs.
                                          </li>
                                    </ul>
                          </div>
                      </div>

                      <router-outlet *ngIf = "activeScreen != 'CaregiverHome'">
                      </router-outlet>
              </div>
      </div>
</div>
