<app-sub-header></app-sub-header>

<div class="container-fluid" style="background-color: #F6F6F6">
      <div class="row">
              <div class="col-sm-2" style="padding-bottom: 2%" >

                        <h4 *ngIf="countCaregivers != 0" style="padding-top: 2%">Below are your caregivers </h4>
                        <ul class="list-group">
                                <li *ngIf="countCaregivers != 0" class="list-inline">
                                    <ul class="list-group-item list-group" *ngFor="let caregiver of caregiversList;let i=index" id="caregiver_{{i}}">
                                              <li class="list-inline">
                                                   <a  [routerLink]="['/Caregivers',caregiver.Id]"
                                                      (click)="OnDetailsClick(i)"
                                                      style="color: darkred; font-size: large"
                                                      title="View Details">
                                                      {{caregiver.Name}}
                                                  </a>
                                              </li>

                                              <li class="list-inline">
                                                      <a class="my-pointer "
                                                           [routerLink]="['/Caregivers',caregiver.Id]"
                                                           [queryParams]="{Edit:true}"
                                                           (click)="OnEditClick(i)"

                                                            title="Request to Edit">
                                                          <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                                                      </a>
                                                      <a class="my-pointer"
                                                           [routerLink]="['/Caregivers',caregiver.Id]"
                                                           [queryParams]="{Delete:true}"
                                                           (click)="OnDeleteClick(i)"

                                                           title="Request to Delete">
                                                          <span class="glyphicon glyphicon-trash"></span> Del
                                                      </a>
                                              </li>
                                    </ul>
                                </li>
                                <li class="list-group-item" *ngIf="countCaregivers == 0" class="list-inline">
                                        <p> You do not have any caregiver.</p>
                                </li>
                                <li id="newCaregiver" class="list-inline">
                                          <a routerLink="/Caregivers/new"
                                             (click)="OnNewClick()"
                                             class="list-group-item"
                                             style="font-size: large"
                                             [ngClass]="{'custom-bg':activeScreen == 'CaregiverNew'}"
                                             title="Request to Add new">
                                             <span class="	glyphicon glyphicon-plus-sign"></span>
                                             <u> Add new </u>
                                          </a>
                                </li>
                        </ul>
              </div>

              <div class="col-sm-10" style="padding-top: 1%">
                      <div class="container-fluid" *ngIf="activeScreen == 'CaregiverHome'">

                                    <p>
                                      Caregivers are the individuals which help patients with the basic life functions, manage medical care, help people  maintain health and remain in their home or community.
                                    </p>
                                    <p>
                                      Caregivers help navigate health care system, facilitate communication with health care providers, help with complex decision-making.
                                    </p>
                                    <p>
                                      92-99% of caretakers are family members.
                                    </p>
                                    <br>

                                    <p style="font-weight: bold">
                                      Potential Benefits of Information Sharing-
                                    </p>    <br>
                                    <ul>
                                          <li>
                                            Enhance communication between caregiver and care provider.
                                          </li>    <br>
                                          <li>
                                            Enhance patient engagement.
                                          </li>    <br>
                                          <li>
                                            Improve health outcomes.
                                          </li>    <br>
                                          <li>
                                            Decrease health care costs.
                                          </li>
                                    </ul>
                                    <br>
                                    <p>
                                      You can view details of any caregiver by selecting name from the left side of the screen.
                                    </p>

                      </div>

                      <router-outlet *ngIf = "activeScreen != 'CaregiverHome'">
                      </router-outlet>
              </div>
      </div>
</div>
