<app-sub-header></app-sub-header>

<div class="container-fluid" style="background-color: #F6F6F6">
      <div class="row" style="background-color: #F6F6F6">
              <div class="col-sm-2" style="padding-bottom: 2%;padding-top: 1%; " >
                        <br *ngIf="countCaregivers == 0">
                        <h3 *ngIf="countCaregivers != 0">Below are your caregivers- </h3>
                        <br *ngIf="countCaregivers != 0">
                        <div class="list-group" style="padding-left: 2%">
                                <div *ngIf="countCaregivers != 0">
                                    <div class="row list-group-item" *ngFor="let caregiver of caregiversList;let i=index" id="caregiver_{{i}}">
                                          <div class="col-sm-6 d-inline-block">
                                              <a  [routerLink]="['/Caregivers',caregiver.Id]"
                                                  (click)="OnDetailsClick(i)"
                                                  style="color: darkred; font-size: x-large"
                                                  title="View Details">
                                                  {{caregiver.Name}}
                                              </a>
                                          </div>
                                          <div class="col-sm-6 " align="right" style="vertical-align: bottom!important;">
                                                <a class="my-pointer font-links"
                                                   [routerLink]="['/Caregivers',caregiver.Id]"
                                                    style="vertical-align: bottom !important;"
                                                   [queryParams]="{Edit:true}"
                                                   (click)="OnEditClick(i)"
                                                    title="Request to Edit">
                                                  <span class="glyphicon glyphicon-edit"></span>&nbsp;Edit
                                                </a>&nbsp;
                                                <a class="my-pointer font-links "
                                                   [routerLink]="['/Caregivers',caregiver.Id]"
                                                   [queryParams]="{Delete:true}"
                                                   style="vertical-align: bottom!important;"
                                                   (click)="OnDeleteClick(i)"
                                                   title="Request to Delete">
                                                  <span class="glyphicon glyphicon-trash"></span> Del
                                                </a>
                                          </div>
                                    </div>
                                </div>
                                <div class="row list-group-item" *ngIf="countCaregivers == 0">
                                    <div class="col-sm-12">
                                        <p> You do not have caregivers.</p>
                                    </div>
                                </div>
                                <div class="row" id="newCaregiver">
                                          <a routerLink="/Caregivers/new"
                                             (click)="OnNewClick()"
                                             class="list-group-item"
                                             style="font-size: x-large"
                                             [ngClass]="{'custom-bg':activeScreen == 'CaregiverNew'}"
                                             title="Request to Add new">
                                             <span class="	glyphicon glyphicon-plus-sign"></span>
                                             <u> Add new Caregiver</u>
                                          </a>
                                </div>
                        </div>
              </div>

              <div class="col-sm-10">
                      <div class="container-fluid" *ngIf="activeScreen == 'CaregiverHome'">
                            <div class="row" style="padding-left: 2%">
                                    <br>
                                    <br>
                                    <p>
                                      Caregivers are the individuals which help patients with the basic life functions, manage medical care, help people  maintain health and remain in their home or community.
                                    </p>
                                    <p>
                                      Caregivers help navigate health care system, facilitate communication with health care providers, help with complex decision-making.
                                    </p>
                                    <p>
                                      92-99% of caretakers are family members.
                                    </p>
                                    <br>

                                    <p style="font-weight: bold">
                                      Potential Benefits of Information Sharing-
                                    </p>    <br>
                                    <ul>
                                          <li>
                                            Enhance communication between caregiver and care provider.
                                          </li>    <br>
                                          <li>
                                            Enhance patient engagement.
                                          </li>    <br>
                                          <li>
                                            Improve health outcomes.
                                          </li>    <br>
                                          <li>
                                            Decrease health care costs.
                                          </li>
                                    </ul>
                                    <br>
                                    <p>
                                      You can view details of any caregiver by selecting name from the left side of the screen.
                                    </p>
                          </div>
                      </div>

                      <router-outlet *ngIf = "activeScreen != 'CaregiverHome'">
                      </router-outlet>
              </div>
      </div>
</div>
