.table-bordered
{
  padding-left: 1.5%;
  padding-right: 1.5%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  border-right: none;
}
h3,a,ul,p
{
  font-size: 1.5vmin;
}
.my-pointer{
  cursor: pointer;
  vertical-align: middle;
}
.custom-bg {
  background-color: lightblue!important;
}

.font-links {
  font-size: 1.2vmin;
}
