a
{
cursor: pointer;
}

span
{
  zoom: 120%;
}

.panel-body
{
  height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}

.activeTab
{
  background-color: #AD122A;
  font-weight: bold;
  color: white;
}

h3,h4
{
  color: darkred;
}

button{
  width: 16vmin;
  /*font-size: 1.5vmin;*/
  margin: 5px 5px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  vertical-align: middle;
}

.btn-success {
  background-color: #656515;
}

.HidePanel
{
  visibility: hidden;
}

.ShowPanel
{
  visibility: visible;
}
hr
{
  /*width: 100%;*/
  color: black;
  height: 1px;
  background-color:darkblue;
}
.disabled
{
  cursor: not-allowed;
}
