<div class="container-fluid" *ngIf="activeScreen == 'MedicationList'" style="background-color: #F6F6F6">
  <!--Medication list Header-->
    <div class="row" style="padding-top: 0.5%">
          <div class="col-sm-3">
              <h4 *ngIf="activeMedicationListTab == 'All'">Your Medicines List</h4>
              <h4 *ngIf="activeMedicationListTab != 'All'">Your {{ activeMedicationListTab}} Medicines List</h4>
          </div>
          <!--Filter-->
          <div class="col-sm-9" >
                <ul class="list-inline" style="float: right">
                   <li>
                     Filter-
                   </li>
                    <li>
                      <button title="List All Medicines" (click)="AllClick()" class="btn-default" [ngClass]="{'activeTab':activeMedicationListTab == 'All'}"> All</button>
                    </li>
                    <li>
                      <button title="List only Prescribed Medicines" (click)="PrescribedClick()" class="btn-default" [ngClass]="{'activeTab':activeMedicationListTab == 'Prescribed'}">Prescribed</button>
                    </li>
                    <li>
                      <button title="List only Over the Counter Medicines" (click)="OTCClick()" class="btn-default" [ngClass]="{'activeTab':activeMedicationListTab == 'Over the Counter'}">Over the Counter</button>
                    </li>
              </ul>
          </div>
    </div>
    <br>

  <!--Medication List Grid-->
    <div class="row">
        <div class="panel panel-default" style="background-color: #F6F6F6" >
          <!--Medication List Grid header-->
              <div class="panel-heading">
                    <div class="row">
                          <div class="col-sm-2" style="padding-left: 1.5%">
                            <h4 >Request Refill?</h4>
                          </div>
                          <div class="col-sm-2" style="padding-left: 1.5%">
                            <h4>Name</h4>
                          </div>
                          <div class="col-sm-2" >
                            <h4>Frequency</h4>
                          </div>
                          <div class="col-sm-2" >
                            <h4>Dosage</h4>
                          </div>
                          <div class="col-sm-2">
                            <h4>Details</h4>
                          </div>
                          <div class="col-sm-1" style="padding-left: 2%">
                            <h4>Information</h4>
                          </div>
                    </div>
              </div>

              <!--Medication List Grid Rows-->

              <!--Medication List Grid- All Rows-->
              <div class="panel-body" *ngIf="activeMedicationListTab == 'All'">
                <ul class="list-group">
                  <li *ngFor="let medicine of MedicationList; let i = index" class="list-group-item">
                        <div class="row" style="padding-top: 1%">
                              <div class="col-sm-2" >
                                  <ui-switch [(ngModel)]="medicine.RefillStatus" color="#656515" title="Request Refill for {{medicine.Name}} medicine"></ui-switch>
                                  <label class="form-inline" *ngIf="medicine.RefillStatus == true" > Yes </label>
                                  <label class="form-inline"  *ngIf="medicine.RefillStatus == false" style="color: darkred" > No </label>
                              </div>
                              <a      (click)="MedicineDetails_All_Click(i)"
                                      style="cursor: pointer"
                                      title="More Details"
                              >
                                          <div class="col-sm-2" >
                                            <p>{{medicine.Name}}</p>
                                          </div>
                                          <div class="col-sm-2">
                                            <p>{{medicine.Frequency}}</p>
                                          </div>
                                          <div class="col-sm-2" >
                                            <p>{{medicine.Dosage}}</p>
                                          </div>
                                          <div class="col-sm-2" style="padding-left: 1.8%" >
                                              <p *ngIf="ShowDetailedPanel_All[i] == false"><span class="glyphicon glyphicon-plus-sign" ></span> More</p>
                                              <p *ngIf="ShowDetailedPanel_All[i] == true"><span class="glyphicon glyphicon-minus-sign"  ></span> Less</p>
                                          </div>
                              </a>
                              <div class="col-sm-1" align="center">
                                    <a title="Medicine Information"><span class="glyphicon glyphicon-info-sign"></span></a>
                              </div>
                        </div>

                        <!--Details Panel- All tab-->
                        <br *ngIf="ShowDetailedPanel_All[i] == true" >
                        <div class="panel panel-default" *ngIf="ShowDetailedPanel_All[i] == true" style="background-color: aliceblue">
                                    <div class="row" style="padding-left: 1%;padding-top: 1%;">
                                          <div class="col-sm-4" >
                                                <a>
                                                  <span class="glyphicon glyphicon-info-sign"></span> {{medicine.Name}} Information
                                                </a>
                                          </div>
                                          <div class="col-sm-4">
                                                <a>
                                                  <span class="glyphicon glyphicon-question-sign"></span> {{medicine.Name}} Precautions
                                                </a>
                                          </div>
                                          <div class="col-sm-4">
                                                <a>
                                                  <span class="glyphicon glyphicon-copyright-mark"></span> {{medicine.Name}} Contraindications
                                                </a>
                                          </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="padding-left: 1%">
                                          <div class="col-sm-4">
                                            <Label> Generic Name: {{medicine.Name}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Frequency: {{medicine.Frequency}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Dosage: {{medicine.Dosage}}  </Label>
                                          </div>
                                    </div>
                                    <div class="row" style="padding-left: 1%;padding-top: 1%">
                                          <div class="col-sm-4">
                                            <Label> Route: {{medicine.Route}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> <span class="glyphicon glyphicon-time" ></span> Start Date: {{medicine.StartDate}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> <span class="glyphicon glyphicon-time" ></span> Stop Date: {{medicine.StopDate}}  </Label>
                                          </div>
                                    </div>
                                    <hr>
                                    <div class="row" style="padding-left: 1%;padding-bottom: 1%">
                                          <div class="col-sm-4">
                                            <Label> Pharmacy Name: <br>{{medicine.PharmacyName}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> <span class="glyphicon glyphicon-globe"></span> Pharmacy Address: <br> {{medicine.PharmacyAddressLine1}} <br> {{medicine.PharmacyCity}} <br> {{medicine.PharmacyState}}
                                            </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> <span class="glyphicon glyphicon-phone-alt"></span> Pharmacy Phone Number: <br> {{medicine.PharmacyPhoneNumber}}  </Label>
                                          </div>
                                    </div>
                        </div>
                  </li>
                </ul>
              </div>

              <!--Medication List Grid- Prescribed Rows-->
              <div class="panel-body" *ngIf="activeMedicationListTab == 'Prescribed'">
                  <ul class="list-group">
                        <li *ngFor="let medicine of MedicationListPrescribed; let i = index" class="list-group-item">
                              <div class="row" style="padding-top: 1%">
                                      <div class="col-sm-2" >
                                          <a title="Request Refill"><span class="glyphicon glyphicon-registration-mark"></span> Request Refill</a>
                                      </div>
                                      <a    title="More Details"
                                            (click)="MedicineDetails_Prescribed_Click(i)" style="cursor: pointer">
                                            <div class="col-sm-2" >
                                              <p>{{medicine.Name}}</p>
                                            </div>
                                            <div class="col-sm-2" >
                                              <p>{{medicine.Frequency}}</p>
                                            </div>
                                            <div class="col-sm-2">
                                              <p>{{medicine.Dosage}}</p>
                                            </div>
                                            <div class="col-sm-2" style="padding-left: 1%" >
                                              <p *ngIf="ShowDetailedPanel_Prescribed[i] == false"><span class="glyphicon glyphicon-plus-sign" ></span> More</p>
                                              <p *ngIf="ShowDetailedPanel_Prescribed[i] == true"><span class="glyphicon glyphicon-minus-sign"  ></span> Less</p>
                                            </div>
                                       </a>
                                      <div class="col-sm-1" align="center" >
                                            <a title="Medicine Information"><span class="glyphicon glyphicon-info-sign"></span></a>
                                      </div>
                              </div>

                              <!--Details Panel- Prescribed tab-->
                              <br *ngIf="ShowDetailedPanel_Prescribed[i] == true" >
                              <div class="panel panel-default" *ngIf="ShowDetailedPanel_Prescribed[i] == true" style="background-color: aliceblue">
                                    <div class="row" style="padding-left: 1%;padding-top: 1%">
                                          <div class="col-sm-4">
                                            <a>
                                              <span class="glyphicon glyphicon-info-sign"></span> {{medicine.Name}} Information
                                            </a>
                                          </div>
                                          <div class="col-sm-4">
                                            <a>
                                              <span class="glyphicon glyphicon-question-sign"></span> {{medicine.Name}} Precautions
                                            </a>
                                          </div>
                                          <div class="col-sm-4">
                                            <a>
                                              <span class="glyphicon glyphicon-copyright-mark"></span> {{medicine.Name}} Contraindications
                                            </a>
                                          </div>
                                    </div>
                                    <div class="row" style="padding-left: 1%;padding-top: 1%">
                                          <div class="col-sm-4">
                                            <Label> Generic Name: {{medicine.Name}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Frequency: {{medicine.Frequency}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Dosage: {{medicine.Dosage}}  </Label>
                                          </div>
                                    </div>
                                    <div class="row" style="padding-left: 1%;padding-top: 1%">
                                          <div class="col-sm-4">
                                            <Label> Route: {{medicine.Route}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Start Date: {{medicine.StartDate}}  </Label>
                                          </div>
                                          <div class="col-sm-4">
                                            <Label> Stop Date: {{medicine.StopDate}}  </Label>
                                          </div>
                                    </div>
                                    <div class="row" style="padding-left: 1%;padding-top: 1%;padding-bottom: 1%">
                                          <div class="col-sm-4">
                                            <Label> Refill Status: {{medicine.RefillStatus}}  </Label>
                                          </div>
                                    </div>
                              </div>
                        </li>
                    </ul>
              </div>

              <!--Medication List Grid- OTC Rows-->
              <div class="panel-body" *ngIf="activeMedicationListTab == 'Over the Counter'">
                    <ul class="list-group">
                          <li *ngFor="let medicine of MedicationListOTC; let i = index" class="list-group-item">
                                <div class="row" style="padding-top: 1%">
                                      <div class="col-sm-2" >
                                        <a title="Request Refill"><span class="glyphicon glyphicon-registration-mark"></span> Request Refill</a>
                                      </div>
                                      <a title="More Details"
                                         (click)="MedicineDetails_OTC_Click(i)" style="cursor: pointer">
                                              <div class="col-sm-2">
                                                <p>{{medicine.Name}}</p>
                                              </div>
                                              <div class="col-sm-2" >
                                                <p>{{medicine.Frequency}}</p>
                                              </div>
                                              <div class="col-sm-2">
                                                <p>{{medicine.Dosage}}</p>
                                              </div>
                                              <div class="col-sm-2" style="padding-left: 1%">
                                                 <p *ngIf="ShowDetailedPanel_OTC[i] == false"><span class="glyphicon glyphicon-plus-sign" ></span> More</p>
                                                 <p *ngIf="ShowDetailedPanel_OTC[i] == true"><span class="glyphicon glyphicon-minus-sign" ></span> Less</p>
                                              </div>
                                      </a>
                                      <div class="col-sm-1" align="center">
                                            <a title="Medicine Information"><span class="glyphicon glyphicon-info-sign"></span></a>
                                      </div>
                                </div>
                            <!--Details Panel- OTC tab-->
                            <br *ngIf="ShowDetailedPanel_OTC[i] == true" >
                            <div class="panel panel-default" *ngIf="ShowDetailedPanel_OTC[i] == true" style="background-color: aliceblue">
                              <div class="row" style="padding-left: 1%;padding-top: 1%">
                                <div class="col-sm-4">
                                  <a>
                                    <span class="glyphicon glyphicon-info-sign"></span> {{medicine.Name}} Information
                                  </a>
                                </div>
                                <div class="col-sm-4">
                                  <a>
                                    <span class="glyphicon glyphicon-question-sign"></span> {{medicine.Name}} Precautions
                                  </a>
                                </div>
                                <div class="col-sm-4">
                                  <a>
                                    <span class="glyphicon glyphicon-copyright-mark"></span> {{medicine.Name}} Contraindications
                                  </a>
                                </div>
                              </div>
                              <div class="row" style="padding-left: 1%;padding-top: 1%">
                                <div class="col-sm-4">
                                  <Label> Generic Name: {{medicine.Name}}  </Label>
                                </div>
                                <div class="col-sm-4">
                                  <Label> Frequency: {{medicine.Frequency}}  </Label>
                                </div>
                                <div class="col-sm-4">
                                  <Label> Dosage: {{medicine.Dosage}}  </Label>
                                </div>
                              </div>
                              <div class="row" style="padding-left: 1%;padding-top: 1%">
                                <div class="col-sm-4">
                                  <Label> Route: {{medicine.Route}}  </Label>
                                </div>
                                <div class="col-sm-4">
                                  <Label> Start Date: {{medicine.StartDate}}  </Label>
                                </div>
                                <div class="col-sm-4">
                                  <Label> Stop Date: {{medicine.StopDate}}  </Label>
                                </div>
                              </div>
                              <div class="row" style="padding-left: 1%;padding-top: 1%;padding-bottom: 1%">
                                <div class="col-sm-4">
                                  <Label> Refill Status: {{medicine.RefillStatus}}  </Label>
                                </div>
                              </div>
                            </div>
                          </li>
                    </ul>
              </div>

        </div>
    </div>
</div>

<div>
    <button type="submit" class="btn-success" [disabled]= "Refill_button_active != true" [ngClass]="{disabled: Refill_button_active != true}" align="middle"  (click)="OnRefillClick()" title="Request refill for all above selected medicines">
        Request for Refill&nbsp;
        <span class="glyphicon glyphicon-registration-mark"></span>
    </button>
</div>
<router-outlet ></router-outlet>
