a
{
cursor: pointer;
}

span
{
  zoom: 250%;
}

.panel-body
{
  height: 900px;
  overflow-y: auto;
  overflow-x: hidden;
}

.activeTab
{
  background-color: #AD122A;
  font-weight: bold;
  color: white;
}

h3
{
  color: darkred;
}
ul,label,a,p
{
  font-size: 1.5vmin;
}

h3
{
  color: darkred;
  font-size: 2vmin;
  vertical-align: middle;
}

button{
  width: 16vmin;
  font-size: 1.5vmin;
  margin: 5px 5px;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  vertical-align: middle;
}

.btn-success {
  background-color: #656515;
}
