<app-medication-sub-header style="padding-bottom: 1%"></app-medication-sub-header>
<div class="container-fluid" *ngIf="activeScreen == 'MedicationHome'" style="padding-left: 2%;padding-top: 2%">
  <!--Medication list Header-->
  <a (click)="(ShowFilterPanel) ? ShowFilterPanel = false : ShowFilterPanel = true" style="padding-bottom: 1%">
    <span *ngIf="ShowFilterPanel == false" class="glyphicon glyphicon-plus-sign"  ></span>
    <span *ngIf="ShowFilterPanel == true" class="glyphicon glyphicon-minus-sign" ></span>
    Filter Medicines By
  </a>
  <!--Filter Criteria-->
  <div class="row" style="padding-top:1%;border: 0.5px solid;background-color:#DCDDDF " *ngIf="ShowFilterPanel == true">
    <ul class="list-inline">
      <li>

      </li>
      <li class="list-group-item radio-inline" [ngClass]="{'activeTab':activeMedicationListTab == 'All'}">
        <label class="radio-inline" >
          <input type="radio" name="Filter_Medicine" (click)="AllClick()" checked="checked">
          <span class="glyphicon glyphicon-ok"></span> Show All
        </label>
      </li>
      <li class="list-group-item radio-inline" [ngClass]="{'activeTab':activeMedicationListTab == 'Prescribed'}">
        <label class="radio-inline" >
          <input type="radio" name="Filter_Medicine" (click)="PrescribedClick()">
          <span class="glyphicon glyphicon-filter"></span> Prescribed
        </label>
      </li>
      <li class="list-group-item radio-inline" [ngClass]="{'activeTab':activeMedicationListTab == 'Over the Counter'}">
        <label class="radio-inline" >
          <input type="radio" name="Filter_Medicine" (click)="OTCClick()">
          <span class="glyphicon glyphicon-filter"></span> Over the Counter
        </label>
      </li>
    </ul>
  </div>

  <!--Medication List Grid-->
  <div class="row" style="padding-top: 1%">
    <div class="panel panel-default">
      <!--Medication List Grid header-->
      <div class="panel-heading">
        <div class="row">
          <div class="col-md-2">
            <h4>Request Refill?</h4>
          </div>
          <div class="col-md-2">
            <h4>Name</h4>
          </div>
          <div class="col-md-3">
            <h4>Dosage</h4>
          </div>
          <div class="col-md-2">
            <h4>Frequency</h4>
          </div>
          <div class="col-md-3" >
            <h4>Last Refill Date</h4>
          </div>
        </div>
      </div>

      <!--Medication List Grid Rows-->
      <div class="panel-body MainPanel" [ngClass]="{'panel-body_reduced': ShowFilterPanel == true}">
        <ul class="list-group">
          <li *ngFor="let medicine of MedicationList; let i = index" class="list-group-item" id="medicine_{{i}}">
            <div class="row" style="padding-top: 1%">
              <div class="col-md-2" >
                <p style="display: inline-block" *ngIf="medicine.RefillStatus == true">  <ui-switch
                  [(ngModel)]="medicine.RefillStatus"
                  color="#656515"
                  title="Request Refill for {{medicine.Name}} medicine"
                  style="vertical-align: middle"
                  (change)="OnRefillSwitchClick(i)"
                  #RefillSwitch
                >
                </ui-switch> Yes </p>
                <p *ngIf="medicine.RefillStatus == false">  <ui-switch
                  [(ngModel)]="medicine.RefillStatus"
                  color="#656515"
                  title="Request Refill for {{medicine.Name}} medicine"
                  style="vertical-align: middle"
                  (change)="OnRefillSwitchClick(i)"
                  #RefillSwitch
                >
                </ui-switch> No </p>
              </div>
              <div class="col-md-2" style="padding-left: 0" >
                  <p>{{medicine.Name}}</p>
                </div>
              <div class="col-md-3">
                  <p>{{medicine.Dosage}}</p>
              </div>
              <div class="col-md-2">
                  <p>{{medicine.Frequency}}</p>
               </div>
              <div class="col-md-3" style="padding-left: 3%" >
                <p >{{medicine.LastRefillDate}}</p>
              </div>
            </div>

        </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="row">
    <button type="submit"
            class="btn-success"
            #btnSubmit
            [disabled]= "Refill_button_active != true"
            [ngClass]="{disabled: Refill_button_active != true}"
            align="middle"
            (click)="OnRequestRefillClick()"
            title="Please select atleast one medicine for refill."
    > Request for Refill&nbsp;
      <span class="glyphicon glyphicon-registration-mark"></span>
    </button>
  </div>

</div>
<router-outlet *ngIf="activeScreen != 'MedicationHome'" ></router-outlet>
