*
{
  box-sizing: border-box;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
a
{
  cursor: pointer;
}

span
{
  zoom: 120%;
}

.panel-body
{
  height: 480px;
  overflow-y: auto;
  overflow-x: hidden;
}
.panel-body_reduced
{
  height: 415px;
  overflow-y: auto;
  overflow-x: hidden;
}
.activeTab
{
  background-color: #AD122A;
  font-weight: bold;
  color: white;
}

h3,h4
{
  color: darkred;
}

button{
  width: 170px;
  padding-left: 0.7%;
  padding-right: 0.7%;
  padding-top: 1%;
  padding-bottom: 1%;
  cursor: pointer;
  vertical-align: middle;
}

.btn-success {
  background-color: #656515;
}

.HidePanel
{
  visibility: hidden;
}

.ShowPanel
{
  visibility: visible;
}
hr
{
  color: black;
  height: 1px;
  background-color:darkblue;
}
.disabled
{
  cursor: not-allowed;
  background-color: #DCDDDF;
}

.btn-info {
  width: 70px;
  padding-left: 0.7%;
  padding-right: 0.7%;
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  cursor: pointer;
  vertical-align: middle;
}
.activeMedicine
{
  background-color: #DCDDDF;
}
label.radio-inline
{
  width:160px;
}
