<div class="container-fluid">


      <br>
      <!--Personal Details-->
            <div class="row table-bordered">

                    <div class="row table">
                          <div class="col-sm-6">
                            <h3>Personal Details</h3>
                          </div>
                          <div class="col-sm-6">
                          </div>

                    </div>

                    <div class="row table">
                                    <div class="col-sm-3">
                                          <label style="font-size: large"> Name: </label>
                                          <input type="text" class="form-inline">
                                    </div>

                                    <div class="col-sm-3">
                                          <label style="font-size: large"> Email Id: </label>
                                          <input type="email" class="form-inline"  >

                                    </div>

                                    <div class="col-sm-3">
                                            <label style="font-size: large"> Contact Details: </label>
                                            <input type="text" class="form-inline" >
                                    </div>

                                    <div class="col-sm-3">
                                            <label style="font-size: large"> Relationship: </label>
                                            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">--Select--
                                              <span class="caret"></span></button>
                                            <ul class="dropdown-menu">
                                              <li><a href="#">HTML</a></li>
                                              <li><a href="#">CSS</a></li>
                                              <li><a href="#">JavaScript</a></li>
                                            </ul>

                                    </div>

                    </div>

            </div>

            <br>
            <br>

      <!--Privelages-->
      <div class="row table-bordered">
        <div class="row table">
              <div class="col-sm-6">
                    <h3>Select Privelages</h3>
                    <br>
              </div>
              <div class="col-sm-6">
              </div>
        </div>

        <br>

        <!--Privelages First Row-->
            <div class="row table">

                  <div class="col-sm-4">
                    <label style="font-size: large"> Power of Attorney: </label>&nbsp;
                    <input type="checkbox" class="badgebox no-see" style="zoom:1.5" value="Yes">
                    <span class="glyphicon glyphicon-ok" style="zoom:1.5"></span>
                  </div>

                  <div class="col-sm-4">
                        <label style="font-size: large"> View Reports: </label>&nbsp;
                        <input type="checkbox" class="badgebox no-see"  style="zoom:1.5">
                        <span class="glyphicon glyphicon-ok" style="zoom:1.5"></span>
                  </div>

                  <div class="col-sm-4">
                    <label style="font-size: large"> View AVS: </label>&nbsp;
                    &nbsp; &nbsp;
                    <input type="checkbox" class="toggle-off" size="large" style="zoom:1.5">
                  </div>

            </div>

            <br>

        <!--Privelages Second Row-->
            <div class="row table">

              <div class="col-sm-3">
                <div class="form-group" style="font-size: large">
                  <label> Providers: </label>
                  <ul class="list-group" style="font-size: large">
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove" ></span> &nbsp;View Providers
                    </li>
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove"></span> &nbsp;Manage Providers
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-1">

              </div>

              <div class="col-sm-3">
                <div class="form-group" style="font-size: large">
                  <label> Messages: </label>
                  <ul class="list-group">
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove" ></span> &nbsp;Read Messages
                    </li>
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove" ></span>  &nbsp;Send/ Reply Messages
                    </li>
                  </ul>
                </div>
              </div>

              <div class="col-sm-1">

              </div>

              <div class="col-sm-3">
                <div class="form-group" style="font-size: large">
                  <label> Health at a Glance: </label>
                  <ul class="list-group">
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove" ></span> &nbsp;View Health at a Glance
                    </li>
                    <li class="list-group-item">

                      <span class="glyphicon glyphicon-remove"></span>  &nbsp;Edit View Health at a Glance
                    </li>
                  </ul>
                </div>
              </div>

          </div>

          <br>

          <!--Privelages Third Row-->
          <div class="row table">

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Payments: </label>
                <ul class="list-group">
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove"></span> &nbsp;View Bills
                  </li>
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;Pay Bills
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Medications: </label>
                <ul class="list-group">
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;View Medication
                  </li>
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;Request for refill
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-sm-1">

            </div>

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Patient Plan: </label>
                <ul class="list-group">
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;View Patient Plan
                  </li>
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;Patient Plan
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <br>

          <!--Privelages Fourth Row-->
          <div class="row table">

            <div class="col-sm-3">
              <div class="form-group" style="font-size: large">
                <label style="font-size: large"> Appointments: </label>
                <ul class="list-group">
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;View Appointments
                  </li>
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;Schedule Appointments
                  </li>
                  <li class="list-group-item">

                    <span class="glyphicon glyphicon-remove" ></span> &nbsp;Fill Questionnaire
                  </li>
                </ul>
              </div>
            </div>

          </div>

        <div class="row table">
          <button class="btn-primary my-pointer" > Save and Add &nbsp; <span class="glyphicon glyphicon-floppy-save"></span></button>
        </div>

        </div>


</div>
