<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" align="left" style="padding-top: 0.5%">
      <div>
        <button class="btn-primary" (click)="OnMainHomeClick()" *ngIf="activeScreen == 'CaregiverHome'"> <span class="glyphicon glyphicon-circle-arrow-left"> </span>&nbsp;Back  </button>
        <button class="btn-primary" (click)="OnCaregiverHomeClick()" *ngIf="activeScreen != 'CaregiverHome'"> <span class="glyphicon glyphicon-circle-arrow-left"> </span>&nbsp;Back </button>
      </div>
    </div>

    <div class="col-sm-8" style="text-align: center; vertical-align: middle">
      <h3>CareGivers</h3>
    </div>

    <div class="col-sm-2">

    </div>
  </div>
</div>
