.container-fluid
{
  background-color:gainsboro;

}

button{
  font-size: large;
  margin: 25px 25px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h3
{
  font-size: 26px
}
