<div class="container-fluid">
        <div class="row">
                    <div class="col-sm-2" align="left">
                            <div>
                               <button class="btn-primary" (click)="OnClick()"> <span class="glyphicon glyphicon-circle-arrow-left"> </span>&nbsp;Back </button>
                            </div>
                    </div>

                    <div class="col-sm-8" style="text-align: center">
                             <h3> CareGivers</h3>
                    </div>

                    <div class="col-sm-2">

                    </div>
        </div>
</div>
