/*.container-fluid*/
/*{*/
  /*background-color:gainsboro;*/
/*}*/

button{
  font-size: 1.5vmin;
  margin: 5px 5px;
  padding-left: 3%;
  padding-right: 3%;
  padding-top: 2%;
  padding-bottom: 2%;
}

h3
{
  font-size: 2.5vmin;
  color: darkred;
  vertical-align: middle;
}
